<style>

.centered
{
    text-align: center;
}

.left
{
    text-align: left;
}

.violet
{
color: violet;
font-weight:bold;
font-size:medium;
}

.green
{
color: MediumSeaGreen;
}

.bold
{
font-weight:bold;
}

</style>
