<style>

.centered
{
    text-align: center;
}

.left
{
    text-align: left;
}

.violet
{
color: violet;
font-weight:bold;
font-size:medium;
}

.green
{
color: MediumSeaGreen;
}

.bold
{
font-weight:bold;
}

.videoslides {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

</style>
